examples/light.json
[{"id":"d147c791.73f7d8","type":"lights-out","z":"5c98d892.1f31c8","name":"toggle","toggle":true,"transition":"0","x":970,"y":540,"wires":[["60f66a63.a127e4"]]},{"id":"60f66a63.a127e4","type":"api-call-service","z":"5c98d892.1f31c8","name":"","server":"489cfd6a.7da324","version":1,"debugenabled":false,"service_domain":"light","service":"","entityId":"light.hornlampa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":540,"wires":[[]]},{"id":"a313e425.a10e38","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":540,"wires":[["dd44aa3d.654698"]]},{"id":"dd44aa3d.654698","type":"nrl-source out","z":"5c98d892.1f31c8","config":"80308a53.3dc588","uid":"a465c37e-85ae-43ce-48d9-0086a3ff4177","name":"Enabled","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":false,"cyclen":"3","outputs":0,"x":540,"y":580,"wires":[]},{"id":"996d31ce.db146","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":600,"wires":[["dd44aa3d.654698"]]},{"id":"3bf4eb00.7eb186","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"80308a53.3dc588","name":"Evaluate","rules":[{"s":"a465c37e-85ae-43ce-48d9-0086a3ff4177","t":"true"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":700,"y":620,"wires":[["fd528ced.6aa54"]]},{"id":"b015d825.688ec8","type":"lights-out","z":"5c98d892.1f31c8","name":"","toggle":false,"x":1050,"y":620,"wires":[["60f66a63.a127e4"]]},{"id":"fd528ced.6aa54","type":"nrl-value in","z":"5c98d892.1f31c8","slider":"50","x":870,"y":620,"wires":[["b015d825.688ec8"]]},{"id":"e549df50.38102","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"{\"id\":\"test123qqoo\",\"enabled\":true,\"type\":0,\"dim\":100,\"color\":\"#FFFFFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":540,"wires":[["d147c791.73f7d8"]]},{"id":"6ec090ee.48de3","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"{\"id\":\"test123qqoo\",\"enabled\":true,\"type\":0,\"dim\":100,\"color\":\"#5beb34\",\"transition\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":480,"wires":[["aa2b3a26.fd7eb8"]]},{"id":"d7b822b8.8a999","type":"lights-out","z":"5c98d892.1f31c8","name":"toggle by msg.toggle","toggle":false,"transition":"","x":1020,"y":480,"wires":[["60f66a63.a127e4"]]},{"id":"aa2b3a26.fd7eb8","type":"function","z":"5c98d892.1f31c8","name":"Add toggle to msg","func":"msg.toggle = true;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["d7b822b8.8a999"]]},{"id":"489cfd6a.7da324","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"80308a53.3dc588","type":"nrl-config","z":"","delay":"5","name":""}]