examples/simple_with_norelite.json
[{"id":"e25bb52e.c2f9a8","type":"lights-out","z":"5c98d892.1f31c8","name":"toggle","toggle":true,"x":1050,"y":800,"wires":[["8e7bd36d.06b3b"]]},{"id":"8e7bd36d.06b3b","type":"api-call-service","z":"5c98d892.1f31c8","name":"","server":"489cfd6a.7da324","version":1,"debugenabled":false,"service_domain":"light","service":"","entityId":"light.hornlampa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":800,"wires":[[]]},{"id":"655ba806.40ab88","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":800,"wires":[["beb1d864.744868"]]},{"id":"beb1d864.744868","type":"nrl-source out","z":"5c98d892.1f31c8","config":"1406c07f.76155","uid":"a465c37e-85ae-43ce-48d9-0086a3ff4177","name":"Enabled","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":false,"cyclen":"3","outputs":0,"x":620,"y":840,"wires":[]},{"id":"bb3db6c1.f41938","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":860,"wires":[["beb1d864.744868"]]},{"id":"cd6fdf91.f9f7d","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"1406c07f.76155","name":"Evaluate","rules":[{"s":"a465c37e-85ae-43ce-48d9-0086a3ff4177","t":"true"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":780,"y":880,"wires":[["a5f3ada5.9660b"]]},{"id":"ba026398.e6614","type":"lights-out","z":"5c98d892.1f31c8","name":"","toggle":false,"x":1130,"y":880,"wires":[["8e7bd36d.06b3b"]]},{"id":"a5f3ada5.9660b","type":"nrl-value in","z":"5c98d892.1f31c8","slider":"50","x":950,"y":880,"wires":[["ba026398.e6614"]]},{"id":"a5474364.1c9b8","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"{\"id\":\"test123qqoo\",\"enabled\":true,\"type\":0,\"dim\":100,\"color\":\"#FFFFFF\",\"transition\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":800,"wires":[["e25bb52e.c2f9a8"]]},{"id":"5cc29600.167c3c","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"{\"id\":\"test123qqoo\",\"enabled\":true,\"type\":0,\"dim\":100,\"color\":\"#5beb34\",\"transition\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":740,"wires":[["89320d50.b49c9"]]},{"id":"4f55c0ee.76886","type":"lights-out","z":"5c98d892.1f31c8","name":"toggle by msg.toggle","toggle":false,"x":1100,"y":740,"wires":[["8e7bd36d.06b3b"]]},{"id":"89320d50.b49c9","type":"function","z":"5c98d892.1f31c8","name":"Add toggle to msg","func":"msg.toggle = true;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["4f55c0ee.76886"]]},{"id":"489cfd6a.7da324","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"1406c07f.76155","type":"nrl-config","z":"","delay":"5","name":""}]