examples/simple_with_norelite.json
[{"id":"ee945841.7042a8","type":"lights-out","z":"5c98d892.1f31c8","name":"toggle","toggle":true,"x":850,"y":760,"wires":[["45d39af9.53ba04"]]},{"id":"45d39af9.53ba04","type":"api-call-service","z":"5c98d892.1f31c8","name":"","server":"489cfd6a.7da324","version":1,"debugenabled":false,"service_domain":"light","service":"","entityId":"light.hornlampa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":760,"wires":[[]]},{"id":"d1772cf8.76074","type":"nrl-on in","z":"5c98d892.1f31c8","name":"","x":690,"y":760,"wires":[["ee945841.7042a8"]]},{"id":"60d9ea4e.002f24","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":760,"wires":[["84603727.cd7688"]]},{"id":"84603727.cd7688","type":"nrl-source out","z":"5c98d892.1f31c8","config":"1406c07f.76155","uid":"a465c37e-85ae-43ce-48d9-0086a3ff4177","name":"Enabled","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":false,"cyclen":"3","outputs":0,"x":520,"y":800,"wires":[]},{"id":"aff3607d.3d33","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":820,"wires":[["84603727.cd7688"]]},{"id":"6e4e2518.32962c","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"1406c07f.76155","name":"Evaluate","rules":[{"s":"a465c37e-85ae-43ce-48d9-0086a3ff4177","t":"true"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":680,"y":840,"wires":[["6cead8c3.0d8f88"]]},{"id":"2e39a5c4.3c19ea","type":"lights-out","z":"5c98d892.1f31c8","name":"","toggle":false,"x":1030,"y":840,"wires":[["45d39af9.53ba04"]]},{"id":"6cead8c3.0d8f88","type":"nrl-value in","z":"5c98d892.1f31c8","slider":"50","x":850,"y":840,"wires":[["2e39a5c4.3c19ea"]]},{"id":"489cfd6a.7da324","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"1406c07f.76155","type":"nrl-config","z":"","delay":"5","name":""}]
