examples/switch.json
[{"id":"f250fa40.c23258","type":"switch-out","z":"5c98d892.1f31c8","name":"test","toggle":true,"x":490,"y":1340,"wires":[["9425ea8f.44ee48"]]},{"id":"ec18cce4.e55d4","type":"nrl-on in","z":"5c98d892.1f31c8","name":"","x":290,"y":1340,"wires":[["f250fa40.c23258"]]},{"id":"9425ea8f.44ee48","type":"api-call-service","z":"5c98d892.1f31c8","name":"","server":"489cfd6a.7da324","version":1,"debugenabled":false,"service_domain":"switch","service":"","entityId":"switch.element_lisa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1340,"wires":[[]]},{"id":"4797a902.300058","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"{\"id\":\"test123qqoo\",\"enabled\":true,\"type\":0,\"dim\":100,\"color\":\"#5beb34\",\"transition\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1260,"wires":[["694fb821.160e58"]]},{"id":"694fb821.160e58","type":"function","z":"5c98d892.1f31c8","name":"Add toggle to msg","func":"msg.toggle = true;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1260,"wires":[["e9bb478e.dcc868"]]},{"id":"e9bb478e.dcc868","type":"switch-out","z":"5c98d892.1f31c8","name":"toggle by msg.toggle","toggle":false,"x":720,"y":1260,"wires":[["9425ea8f.44ee48"]]},{"id":"489cfd6a.7da324","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]